label {
    font-weight: 700;
}

input {
    padding: 0.4rem;
    display: block;
    width: 100%;
    background-color: #e1e1e1;
    margin-bottom: 1rem;
    border: none;
    border-radius: 1rem;
}
