.category {
    display: flex;
    justify-content: space-around;
}

.category-border {
    padding-top: 4rem;
    text-align: center;
    width: 20rem;
    height: 20rem;
    border: red 0.15rem solid;
    border-radius: 1rem;
    margin-bottom: 8rem;
}

@media (max-width: 576px) {
    .category {
        display: block;
    }
    .category-border {
        margin: 2rem auto;
    }
}
